.section {
    width: 100%;
    height: 2vh;
    margin-top: 2rem;
    display: grid; 
    grid-template-columns: repeat(16, 7fr);
    text-align: center;
    /* background-color: white ; */
}

.section > div {
    border: 1px solid rgb(149, 155, 151);
    border-radius: 10%;
    display: table-cell;
    width: 40px;
    height: 40px;
    font-size:small;
    font-weight: 700;
    text-align: center;
    /* background-color: white; */

    /* text-align: center;
    flex: 1;
    margin: 10%; */
}
.section > div:hover {
    cursor: pointer;
}

.disabled {
    display: table-cell;

    /* display: inline;
    content: inherit; */
    width: 40px;
    height: 40px;
    background-color:rgb(186, 194, 184);
    font-size: small;
    text-align: center;

    /* text-overflow: ellipsis;
    border-radius: 2px; */
}
.booked {
    border: 1px solid rgb(32, 160, 60);
    background-color: #a9ec92;
}

.section .disabled:hover {
    cursor: not-allowed;
}

.input_field{
    margin-top: 1rem;
}

@media screen and (max-width: 700px) {
    .section {
    width: 100%;
    height: 0.5vh;
    margin-top: 2rem;
    display: grid; 
    grid-template-columns: repeat(16, 7fr);
    text-align: center;
     /* background-color: white ;  */
}
    
 .section > div {
    border: 1px solid rgb(149, 155, 151);
    border-radius: 10%;
    display: table-cell;
    width: 22px;
    height: 22px;
    font-size:xx-small;
    font-weight: 500;
    text-align: center;

 }
 .confirmbtn{
    width: 10rem;
    padding: .4rem;
    margin: 0rem auto;
    text-align: center;
    font-weight: bold;
    transition: all .2s ease;
    border: none;
  }
  


}